In [7]:
import pandas as pd
from IPython.display import display
from pathlib import Path
DATA_DIR = Path(r"C:\Users\utaka\MLOPS\Final Assignment\MLOpsProject\data")
train = pd.read_csv(DATA_DIR / "train.csv")
test  = pd.read_csv(DATA_DIR / "test.csv")

# Load datasets - Update the paths to reflect the new mountpoint
DATA_DIR = Path(r"C:\Users\utaka\MLOPS\Final Assignment\MLOpsProject\data")
train = pd.read_csv(DATA_DIR / "train.csv")
test  = pd.read_csv(DATA_DIR / "test.csv")


# Initial exploration
print("Train shape:", train.shape)
print("Test shape:", test.shape)


# Overview
print(train.info())
print(test.info())

# Check for missing values
print("\nMissing in Train:\n", train.isnull().sum())
print("\nMissing in Test:\n", test.isnull().sum())

# Peek at data
display(train.head())
display(test.head())

Train shape: (4500, 13)
Test shape: (2834, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   w                        4500 non-null   int64
 1   y                        4500 non-null   int64
 2   square_meters            4500 non-null   int64
 3   contract_type            4500 non-null   object
 4   availability             3855 non-null   object
 5   description              4500 non-null   object
 6   other_features           4492 non-null   object
 7   conditions               4391 non-null   object
 8   floor                    4494 non-null   object
 9   elevator                 4500 non-null   object
 10  energy_efficiency_class  4120 non-null   object
 11  condominium_fees         4303 non-null   float64
 12  zone                     4500 non-null   object
dtypes: float64(1), int64(3), object(9)
memory usage: 457.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2834 entries, 0 to 2833
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   square_meters            2834 non-null   int64
 1   contract_type            2834 non-null   object
 2   availability             2447 non-null   object
 3   description              2834 non-null   object
 4   other_features           2830 non-null   object
 5   conditions               2755 non-null   object
 6   floor                    2833 non-null   object
 7   elevator                 2834 non-null   object
 8   energy_efficiency_class  2608 non-null   object
 9   condominium_fees         2710 non-null   float64
 10  zone                     2834 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 243.7+ KB
None

Missing in Train:
 w                            0
y                            0
square_meters                0
contract_type                0
availability               645
description                  0
other_features               8
conditions                 109
floor                        6
elevator                     0
energy_efficiency_class    380
condominium_fees           197
zone                         0
dtype: int64

Missing in Test:
 square_meters                0
contract_type                0
availability               387
description                  0
other_features               4
conditions                  79
floor                        1
elevator                     0
energy_efficiency_class    226
condominium_fees           124
zone                         0
dtype: int64

,w,y,square_meters,contract_type,availability,description,other_features,conditions,floor,elevator,energy_efficiency_class,condominium_fees,zone
0,1,3000,110,rent,NaN,"4 (2 bedrooms, 2 others), 1 bathroom - one or ...",kitchen | balcony | terrace | furnished | cell...,excellent,1,yes,e,500.0,quadronno - crocetta
1,1,2200,111,rent,available,"3 (2 bedrooms, 1 other), 1 bathroom, kitchen d...",electric gate | optic fiber | alarm system | c...,excellent,6,yes,e,400.0,farini
2,1,2500,85,rent | 4+4,NaN,"3 (2 bedrooms, 1 other), 2 bathrooms, open kit...",internal exposure | balcony | full day concier...,good condition,4,yes,g,250.0,palestro
3,1,1250,40,rent,available,"1 room, 1 bathroom, kitchen nook",optic fiber | security door | internal exposur...,excellent,2,yes,e,90.0,repubblica
4,1,4200,170,rent | open,available,"4 (2 bedrooms, 2 others), 3 bathrooms, kitchen...",fireplace | optic fiber | security door | balc...,excellent,4,yes,g,833.0,morgagni

,square_meters,contract_type,availability,description,other_features,conditions,floor,elevator,energy_efficiency_class,condominium_fees,zone
0,58,rent | open,available,"2 (1 bedroom, 1 other), 1 bathroom, kitchen nook",electric gate | optic fiber | security door | ...,excellent,1,yes,g,140.0,corvetto
1,55,rent | 4+4,available,"2 (1 bedroom, 1 other), 1 bathroom, kitchen nook",optic fiber | security door | internal exposur...,good condition,Mezzanine,no,g,80.0,corso san gottardo
2,68,rent | 4+4,available,"2 (1 bedroom, 1 other), 1 bathroom, kitchen diner",video entryphone | full day concierge | furnished,good condition,4,yes,g,200.0,lanza
3,50,rent | transitory,available,"2 (1 bedroom, 1 other), 1 bathroom, open kitchen",optic fiber | security door | balcony | terrac...,excellent,5,yes,f,150.0,ghisolfa - mac mahon
4,105,rent | 4+4,available,"2 (1 bedroom, 1 other), 2 bathrooms, kitchen nook",hydromassage | attic | video entryphone | alar...,excellent,5,yes,d,220.0,cadorna - castello